/* css Normalize */
article,aside,figcaption,figure,footer,header,hgroup,nav,section,summary,(display:block:)audio,canvas,video,(display:inline-block:)audio,input[type]

/* some default style to make each box visible */

.box {
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba (0,0,0,0.1);
    padding: 10px;
}


.box{ background: #1abc9c;}
.box { background: #3498db;}
.box { background: #9b59b9;}
.box { background: #3449;}
.box { background: #f1c40f;}
.box { background: #e74c3c;}
.box { background: #bdc3c7;}
.box { background: #2ecc71;}
.box { background: #16e015;}
